In [ ]:
# Understanding the variables in python
# addition

In [1]:
x =5
y =4
print(x)
print(y)
print(x+y)

5
4
9

In [2]:
x+y

9

In [3]:
print(Total = X+y)# it is case sensitive hence there  is an error

NameError: name 'X' is not defined

In [4]:
z=x+y
z

9

In [ ]:
#Subtraction

In [5]:
a = 8
b = 6
a-b

2

In [8]:
c = b-a
c

-2

In [9]:
print(-c)

2

In [ ]:
#Multiplication

In [10]:
p=5
q=7
p*q

35

In [13]:
r=p*q
print(r)

35

In [18]:
r=p**q
r
R=p***q
R

SyntaxError: invalid syntax (<ipython-input-18-3c8b222c6298>, line 3)

In [ ]:
# division

In [19]:
d=b/z
d

0.6666666666666666

In [21]:
d=z/b
d

1.5

In [22]:
a=3
b=6
a%b

3

In [23]:
a%%b

SyntaxError: invalid syntax (<ipython-input-23-25c61ac0fd49>, line 1)

In [24]:
b%a

0

In [ ]:
# declaring the variables

In [25]:
first_name="Harshini"
print(first_name)

Harshini

In [26]:
first name="Harshini"
print(first name)   # No spaces should be there while delaring the variable name. It would throw an error.

SyntaxError: invalid syntax (<ipython-input-26-3a23f620cc98>, line 1)

In [27]:
1first_name="Harshini"
print(1first_name)      # variable name should not start with a number

SyntaxError: invalid syntax (<ipython-input-27-a4bc2d74e432>, line 1)

In [28]:
1_first_name="Harshini"
print(1_first_name)       # variable name should not start with a number

SyntaxError: invalid token (<ipython-input-28-5a0d8a446772>, line 1)

In [29]:
first@name="Harshini"
print(first@name)       # Variable name should not have any kind of special charecters other than an underscore

SyntaxError: can't assign to operator (<ipython-input-29-d938373e55ea>, line 1)

In [ ]:
# Introduction to Datatypes
#1. String (str)
#2. List(list)
#3. Tuple(tuple)
#4. Dictionary(Dict)

# Mutable datatype : It allows to edit, modify, alter once assigned
# Immutable datatype : It will not allow any sort of new modifications or changes, Once it is assigned

In [ ]:
# Introduction to string Datatype
#1. String is a series of charecters which is an immutable datatype
#2. Data types can be defined in 3 different types
#   a. single quotes('')
#   b. Double quotes("")
#   c. triple quotes("""""")

In [31]:
#   a. single quotes('')

name1 = 'Harshini'
print(name1)

Harshini

In [32]:
#   b. Double quotes("")

name2 = "Harshini"
print(name2)

Harshini

In [33]:
#   c. triple quotes("""""")

name3 = """Harshini"""
print(name3)

Harshini

In [ ]:
# To verify and validate the datatypes

In [34]:
type(name1) # name1 is string datatype from the output

str

In [ ]:
# Enhancement of the code

In [39]:
Full_name = 'harshini chowary'
print(Full_name)

harshini chowary

In [36]:
Full_name = 'harshini chowdary'
print(Full_name.title())    # To convert the first letters to capitasls

Harshini Chowdary

In [37]:
Full_name = 'harshini chowdary'
print(Full_name.upper())     # To convert all charecters to Upper Case

HARSHINI CHOWDARY

In [38]:
Full_name = 'harshini chowdary'
print(Full_name.lower())     # To convert all charecters to lower Case

harshini chowdary