In [ ]:
#Introduction to looing statements
#Understanding for loop

In [1]:
states_of_india=['Assam','mizoram','kerala','Goa','punjab']
print(states_of_india)

['Assam', 'mizoram', 'kerala', 'Goa', 'punjab']

In [4]:
print(states_of_india.title())

AttributeError: 'list' object has no attribute 'title'

In [6]:
print(states_of_india[1].title())
print(states_of_india)

Mizoram
['Assam', 'mizoram', 'kerala', 'Goa', 'punjab']

In [13]:
#To split the students individually from the list

for state in states_of_india:
    print(state)

Assam
mizoram
kerala
Goa
punjab

In [ ]:
#General syntax of for loop
#for tempvar in mainvar:
 #   print (tempvar)------> indentation for maintaining clean code

In [14]:
states_of_india=['Assam','mizoram','kerala','Goa','punjab']
print(states_of_india)
for x in states_of_india:
    print(x)
    print(f"The most beautiful state in India is {x}")

['Assam', 'mizoram', 'kerala', 'Goa', 'punjab']
Assam
The most beautiful state in India is Assam
mizoram
The most beautiful state in India is mizoram
kerala
The most beautiful state in India is kerala
Goa
The most beautiful state in India is Goa
punjab
The most beautiful state in India is punjab

In [25]:
states_of_india=['Assam','mizoram','kerala','Goa','punjab']
print(states_of_india)

for a in states_of_india:
    print(f"The most beautiful city in India is in the state of {a}")
    print(f"I am very excited to visit the city in {a}.\n")
print(f"India itself is a country with beautiful culture and Nature")

['Assam', 'mizoram', 'kerala', 'Goa', 'punjab']
The most beautiful city in India is in the state of Assam
I am very excited to visit the city in Assam.

The most beautiful city in India is in the state of mizoram
I am very excited to visit the city in mizoram.

The most beautiful city in India is in the state of kerala
I am very excited to visit the city in kerala.

The most beautiful city in India is in the state of Goa
I am very excited to visit the city in Goa.

The most beautiful city in India is in the state of punjab
I am very excited to visit the city in punjab.

India itself is a country with beautiful culture and Nature

In [26]:
# Making a numerical list with for loop :1-30

for value in range(1,30):
    print(value)   # Range is always exclusive

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [27]:
for a in range(1,31):
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [28]:
#to get numbers from 1 to 10
numbers=list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#to print only even numbers between 1-30

In [30]:
even_num=list(range(2,31,2))  #range accepts only 3 values
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]